.forgot-password {
	color: whitesmoke;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.forgot-password-card {
	border: 3px solid indigo;
	border-radius: 50%;
	padding: 20px;
	text-align: center !important;
}

.forgot-password-card-icon {
	color: red;
}

#forgot-password-form {
	margin: auto;
	width: 65%;
}

.forgot-password-form-container {
	margin-bottom: 1rem !important;
}

.forgot-password-form-text {
	line-height: 24px;
	margin-bottom: 1rem;
}

.forgot-password-input {
	width: 65%;
	padding: 5px;
	margin: auto;
}

.forgot-password-btn:hover {
	background-color: green;
}
